.logo {
  width: 100px;
  box-shadow:10px 5px 5px teal;
}
body {
  font-family: 'Sansita Swashed', cursive;
}
h1 {
  font-size: 40px;
}
#newport-image {
  height: 350px;
}
h1,h2 {
  font-family: 'Sansita Swashed', cursive;
  text-align: center;
  text-decoration: none;
}
div p {
  letter-spacing: 1px;
}
.btn {
  align-items: center;
}
.mapouter {
  position: relative;
  text-align: right;
  align-items: center;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  align-items: center;
}
